@import "../../colors.scss";

.cart {
  // background-color: blue;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;

  .cart-container {
    // background-color: green;
    width: 70%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 50px;

    .cart-item {
      // background-color: red;
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: space-between;
      gap: 20px;

      .img-product-cart {
        width: 100px;
        display: flex;

        img {
          height: auto;
          width: 100%;
        }
      }

      h1 {
        font-size: 1.2em;
      }

      .price-cart {
        display: flex;
        flex-wrap: nowrap;
        p {
          font-size: 1.3em;
          font-weight: 700;
        }
      }
    }

    .ant-list {
      width: 800px;
    }
  }
}

.ant-list-header {
  width: 100%;
  color: $color1;
  display: flex;
  justify-content: center;
}

.buttons-cart {
  width: 100%;
  display: flex;
  justify-content: center;

  Button {
    margin: 10px;
  }
}

.empty-cart {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
