@import "../../colors.scss";

.header {
  width: 100%;
  position: fixed;
  background-color: $color1;
  .menu {
    font-size: 18px;
    font-weight: 400;
    color: whitesmoke;
    height: 70px;
    padding: 0 20px 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    span {
      color: whitesmoke;
      font-size: 19px;
      font-weight: 700;
      text-transform: uppercase;
    }
    nav {
      a {
        all: unset;
        cursor: pointer;
        color: whitesmoke;
        padding: 15px;
        font-size: 18px;
        &:hover {
          color: $color4;
        }
      }
    }
  }
}
