
.ft1 {
  background-image: url(../../assets/1.jpg);
  background-size: cover;
  background-position: center;
  height: 88vh;
}

.ft2 {
  background-image: url(../../assets/2.jpg);
  background-size: cover;
  background-position: center;
  height: 88vh;
}

.ft3 {
  background-image: url(../../assets/3.jpg);
  background-size: cover;
  background-position: center;
  height: 88vh;
}

.ft4 {
  background-image: url(../../assets/4.jpg);
  background-size: cover;
  background-position: center;
  height: 88vh;
}