@import url('https://fonts.googleapis.com/css2?family=Marvel&display=swap');


.Login{

font-family: 'Marvel', sans-serif;
width: 70%;
display: flex;
font-size: 25px;
flex-direction: column;


}

.linkregi{

    text-decoration: underline;
    color:blue;
    cursor:pointer

}